.button {
  height: 36px !important;
  /* color: var(--mantine-color-brand-3);
  border: rem(3px) solid var(--mantine-color-brand-3); */
  /* border-radius: rem(24px); */
}

.row {
  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.input {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    max-width: 100%;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-sm) {
    height: 300px !important;
  }
}
